# maven ignore
target
target/
target/*
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.class

# eclipse ignore
.settings/
*/.settings/
*/.settings/*
.factorypath
*/*.factorypath
.classpath
.project
*/.project
.classpath
*.classpath
*/.classpath
*.settings

# idea ignore
.idea/
*/target/
*/target/*
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
*.DS_Store
*.*.DS_Store
*/*.DS_Store
Thumbs.db
*.out
*/*.out

# else
.springBeans
*/.springBeans
